.loader-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  block-size: 100vh; /* Full viewport height */
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-block-start: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  inline-size: 60px; /* Smaller size */
  block-size: 60px; /* Smaller size */
  animation: spin 2s linear infinite;
  margin-block-end: 20px; /* Space between loader and logo */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
